// .calendar__table {
// 	border-collapse: collapse;
// }

.calendar__nav {
	text-align: center;
}

.calendar__day--selected {
	background: red;
}

.calendar__day--forbidden {
	background: gray;
}

.calendar__day--dot {
	background: yellow;
}